body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}


.sidebar {
    background-color: #2c3e50;
    color: white;
    width: 200px;
    padding: 15px;
    height: 100vh;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
}

.sidebar ul li a:hover {
    background-color: #34495e;
}


.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #ecf0f1;
    height: 100vh;
}

h1 {
    color: #34495e;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #2c3e50;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
}

button {
    background-color: #2ecc71;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60;
}

button:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
}
